<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 90.2vh;
    }
</style>
<div class="bg-cover pd-header about-cover">
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                <div class="brand">
                    <div class="title center-align">
                        404
                    </div>
                    <div class="description center-align">
                        <%= page.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if (theme.banner.enable) { %>
<script>
var randomBgIndex = Math.round( Math.random() * 10 ); //有多少张图就减去1再输进去
    //因为在实际测试时，要等5秒才显示图片，所以这里重复一下显示代码
        $('.bg-cover').css('background-image', 'url(<%- theme.jsDelivr.url %>/medias/banner/' + randomBgIndex + '.jpg)');
setInterval(function(){ //这里就开始重复运行代码了
        var randomBgIndex = Math.round( Math.random() * 10 ); //这里还是一样的
    //输出随机的背景图
        $('.bg-cover').css('background-image', 'url(<%- theme.jsDelivr.url %>/medias/banner/' + randomBgIndex + '.jpg)');
},180000); //这里的5000指的是每隔5秒就执行一次{}里面的js代码
</script>
<% } else { %>
<script>
    $('.bg-cover').css('background-image', 'url(<%- theme.jsDelivr.url %>/medias/banner/0.jpg)'); //估计不会这样吧
</script>
<% } %>
